.tab_bar{

    background-color: #141414;
    width: 100%;
    position: fixed;
    z-index: 45678;
    bottom: 0;
}
.tab-nav-container{
    box-shadow:0 15px 10px rgba(0,0, 0, 0.16),
    0 3px 6px rgba(0,0, 0, 0.16);
    display: none;
    padding:20px 0px; 
  }
  @media (max-width:720px){
    .tab-nav-container{display: flex;}
  }
  .tab{ 
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    padding: 0 10px;
    height: 40px; 
    transition: all .3s linear; 
  }
  .tab a{
    font-weight: bold;
    overflow: hidden;
    width: 0;
    margin: 0; 
  }
  .tab.active a{
    margin:0px 10px;
    width: max-content;  
font-family: "SF Hello";
font-size: 14px; 
font-weight: 400;  
    color: black;
  }
  .tab.active{ 
    margin:0px 10px;
    background-color: #f2c343; 
    color: black;
  } 
  svg path{
    fill: white;
  } 
  .tab.active svg path{
    fill: black;
  }